.shadow-large {
  box-shadow: 0 0 40px 1px #151515; }

.shadow-middle {
  box-shadow: 0 0 15px 1px #333; }

body {
  background-color: antiquewhite;
  color: #222;
  font-family: Ubuntu, sans-serif;
  margin: 0; }

a {
  border-radius: .25rem;
  color: #300043;
  padding: 3px;
  text-decoration: none; }
  a:hover {
    background-color: #300043;
    color: white;
    text-decoration: none; }

.centered-element, .centered-block {
  margin: 0 auto;
  text-align: center; }

.centered-block {
  display: block; }

.parenthesized-ol {
  counter-reset: list;
  margin: 0; }
  .parenthesized-ol > li {
    list-style: none;
    position: relative; }
    .parenthesized-ol > li::before {
      content: counter(list,lower-alpha) ") ";
      counter-increment: list;
      font-weight: bold;
      left: -1.15em;
      position: absolute; }

.page-title {
  background-color: #222;
  box-shadow: 0 0 15px 1px #333;
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .5em;
  padding: .2em 0;
  text-align: center; }
  .page-title .btn-group-sm {
    float: right;
    margin-right: .5em; }

.slide-button {
  left: 5px;
  padding: 4px;
  position: fixed;
  top: 7px;
  transition: .25s;
  width: 38px;
  z-index: 15; }
  .slide-button,
  .slide-button * {
    box-sizing: content-box; }
  .slide-button:hover {
    cursor: pointer; }
  .slide-button .button-bar {
    border-color: orangered;
    border-radius: 2px;
    border-style: solid;
    border-width: 6px;
    border-bottom: none;
    position: relative;
    transition: .5s;
    width: 26px; }
  .slide-button .button-bar-middle {
    margin-bottom: 4px;
    margin-top: 4px; }
  .slide-button-open .button-bar-top {
    transform: rotate(45deg) translateY(-3px);
    transform-origin: top left;
    transition: 0.5s; }
  .slide-button-open .button-bar-middle {
    opacity: 0;
    transform: translate(500%);
    transition: .1s ease-in; }
  .slide-button-open .button-bar-bottom {
    transform: rotate(-45deg) translateY(4px);
    transform-origin: bottom left;
    transition: 0.5s; }

.slide-menu {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 10; }
  .slide-menu,
  .slide-menu * {
    overflow: visible; }
  .slide-menu .menu {
    background-color: #333333;
    font-size: 1.5em;
    font-weight: bold;
    height: 100%;
    list-style: none;
    min-width: 7em;
    padding-top: 45px;
    position: absolute;
    right: 0;
    top: 0;
    transition: .25s;
    width: 6em; }
    .slide-menu .menu-show {
      box-shadow: 0 0 40px 1px #151515;
      transform: translateX(100%); }
    .slide-menu .menu a {
      padding: 0;
      text-decoration: none; }
      .slide-menu .menu a:hover {
        background-color: inherit;
        color: gold; }
    .slide-menu .menu li {
      padding-left: .3em;
      padding-top: 0.3em; }
      .slide-menu .menu li.active-button {
        background-color: white;
        border-bottom-left-radius: 25%;
        border-top-left-radius: 25%;
        color: #333333;
        font-size: 1.18em;
        margin-top: 0.3em;
        padding-top: 0; }
      .slide-menu .menu li > a {
        color: white;
        font-size: 1.18em;
        position: relative; }
        .slide-menu .menu li > a::after {
          border: 2px solid gold;
          content: '';
          display: block;
          position: absolute;
          transition: .2s ease-out;
          visibility: hidden;
          width: 0; }
        .slide-menu .menu li > a:hover::after {
          visibility: visible;
          width: 100%; }

#users-table {
  border-collapse: collapse;
  box-shadow: 0 0 15px 1px #333;
  text-align: center;
  width: 100%; }
  #users-table tr:nth-child(even) {
    background-color: #555555;
    color: white; }
  #users-table td,
  #users-table th {
    padding: .4em; }
  #users-table > thead {
    background-color: #222;
    color: white; }

.user-avatar {
  border-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 6px;
  box-shadow: 0 0 15px 1px #333;
  height: 200px;
  object-fit: cover;
  padding: 2px;
  width: 200px; }

.user-bio {
  border: 5px solid #333333;
  box-shadow: 0 0 15px 1px #333;
  height: 100%;
  margin-top: .5em;
  padding: .5em; }
  .user-bio::before {
    content: 'BIO: ';
    font-size: 1.2em;
    font-weight: bold; }

#task-list {
  border-width: 0 0 1px 1px;
  border-color: silver;
  border-style: solid;
  padding: 0; }
  #task-list > li {
    border-width: 1px 1px 0 0;
    border-color: silver;
    border-style: solid;
    list-style: none;
    padding: .4em; }

#vee-logo {
  background-color: white;
  box-shadow: 0 0 40px 1px #151515;
  margin-top: .5em;
  width: 40%; }

#red-exclamation-mark-img {
  width: 8em; }

#site-description {
  padding: 10px;
  background: #333333;
  color: white; }

#logo-container {
  background-color: #333333;
  box-shadow: 0 0 15px 1px #333;
  margin-bottom: .5em;
  padding: .8em 0; }

.custom-file {
  cursor: pointer; }
  .custom-file * {
    cursor: pointer; }
  .custom-file-input {
    visibility: hidden; }
  .custom-file-label:hover {
    box-shadow: 0 0 2px 1px #333333; }

form .col-form-label {
  text-align: right; }
form textarea.form-control {
  border-color: #aaaaaa;
  border-style: solid;
  border-width: 2px; }

.file-download-link {
  width: fit-content;
  display: block;
  padding: 9px;
  background-color: #333333;
  color: white; }
  .file-download-link:hover {
    background-color: orangered; }
  .file-download-link * {
    background-color: inherit;
    color: inherit; }

#not-found {
  font-size: 2em;
  display: none; }

#file-label {
  overflow: hidden;
  white-space: nowrap; }

/*# sourceMappingURL=stylesheet.css.map */
