<div class="form-group row">
    <button 
        mat-raised-button
        (click)="searchDemand.emit(searchInput.value)"
        type="button"
        class="form-control col-sm-2"
        id="search-button"
    >
        <mat-icon>search</mat-icon>
        <strong>Search</strong>
    </button>
    <mat-form-field class="col-sm-10" id="searchField">
        <input #searchInput
            (keyup.enter)="searchDemand.emit(searchInput.value)"
            [placeholder]="placeholder"
            matInput
            type="search"
        >
    </mat-form-field>
</div>