<mat-card class="col-md-10 offset-md-1 mt-1">
    <img
        id="vee-logo"
        src="/assets/images/vee-logo.png"
        alt="Veetaha website logo"
        class="centered-block mb-2"
    >
    <p>
        <strong>Veetaha</strong> is an advanced educational tool in programming engineering sphere.
        This site provides a platform for studding and publishing
        tasks and lectures, estimating and maintaining students progress.
        Register a new account and contact with an administrator
        in order to be assigned to your academic group to be able to
        do assignments corresponding to your group's courses.
    </p>
</mat-card>
