<div class="col-md-10 mx-auto">
    <vee-pagination
        [pageFetcher]="usersPageFetcher"
        searchInputPlaceholder="User login"
    >
    <table mat-table *veePaginated="let users"
        [dataSource]="users" 
        class=       "mat-elevation-z8"
        id=          "users-table"
    >
        <ng-container matColumnDef="login">
            <th mat-header-cell *matHeaderCellDef>Login</th>
            <td mat-cell *matCellDef="let user">
                <a [routerLink]="rt.to.user(user.id)">
                    <img 
                        [src]="user.avaUrl" 
                        alt  ="ava" 
                        class="user-avatar mr-1"
                    >
                    {{user.login}}
                </a>
            </td>
        </ng-container>
        <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef>Fullname</th>
            <td mat-cell *matCellDef="let user">
                <a [routerLink]="rt.to.user(user.id)">
                    {{user.fullname}}
                </a>
            </td>
        </ng-container>
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let user">{{user.role}}</td>
        </ng-container>
        <ng-container matColumnDef="group">
            <th mat-header-cell *matHeaderCellDef>Group</th>
            <td mat-cell *matCellDef="let user">
                <a *ngIf="user.group; else elseNoGroup"
                    [routerLink]="rt.to.group(user.group.id)"
                >
                    {{user.group.name}}
                </a>
                <ng-template #elseNoGroup>
                    <mat-icon>block</mat-icon>
                </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row 
            *matHeaderRowDef="['login', 'fullname', 'role', 'group']"
        ></tr>
        <tr mat-row 
            *matRowDef="let row; columns: ['login', 'fullname', 'role', 'group'];"
        ></tr>
    </table>
    </vee-pagination>
</div>
