<div class="col-md-10 offset-md-1">
    <mat-tab-group dynamicHeight>
        <mat-tab label="Description">
        <div *ngIf="task" class="mt-4">
            <markdown
                [data]="task!.body || ''" 
            >
            </markdown>
            <vee-file-download *ngIf="task!.attachedFileUrl"
                [href]="task!.attachedFileUrl"
                fileName="task-attachment"
            >
                Attached file
            </vee-file-download>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Solve task
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-task-result
                        [(taskResult)]="task!.myTaskResult"
                        [taskId]="taskId"
                    ></app-task-result>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        </mat-tab>
        <mat-tab label="Score">
        Task Check here
        </mat-tab>
    </mat-tab-group>
    <p *ngIf="task"
        class="text-muted">Task created on {{task!.publicationDate | date}}
    </p>
</div>