<div>
    <h3 class="text-center text-primary">{{freeListHeader}}</h3>
    <vee-pagination
        [pageFetcher]="fetchPage"
        [refetchOn]="refetchOn"
        [pageSizeOptions]="pageSizeOptions"
        [searchInputPlaceholder]="searchInputPlaceholder"
        [noInitFetch]="noInitFetch"
        [nothingWasFoundMessage]="noFreeItemsWereFoundMessage"
        [showFirstLastButtons]="showFirstLastButtons"
    >
    <mat-selection-list *veePaginated="let freeItems"
        (selectionChange)="onFreeSelectionListChange($event)"
        class="mt-2"
    >
        <mat-list-option 
            *ngFor="let item of freeItems; trackBy: trackById"
            [value]="item"
            [selected]="isSelected(item)"
            checkboxPosition="before"
        >
            <ng-template
                [ngTemplateOutlet]="freeItemRef || chosenItemRef" 
                [ngTemplateOutletContext]="{ 
                    $implicit: item 
                }"
            ></ng-template>
        </mat-list-option>
    </mat-selection-list>
    </vee-pagination>
</div>
<div>
    <h3 class="text-center text-primary">
        {{selectedListHeader}}
    </h3>
    <mat-selection-list 
        *ngIf="chosenItems.length; else elseNoItemChosen"
        (selectionChange)="onChosenSelectionListChange($event)"
        class="mt-2"
    >
        <mat-list-option 
            *ngFor="let item of chosenItems; trackBy: trackById"
            [value]="item"
            selected
            checkboxPosition="before"
        >
            <ng-template
                [ngTemplateOutlet]="chosenItemRef || freeItemRef" 
                [ngTemplateOutletContext]="{ 
                    $implicit: item 
                }"
            ></ng-template>
        </mat-list-option>
    </mat-selection-list>
    <ng-template #elseNoItemChosen>
        <p class="text-muted text-center">
            {{nothingIsChosenMessage}}
        </p> 
    </ng-template>
</div>