<div class="col-md-10 mx-auto">
    <mat-card *ngIf="user; else elseUserNotLoaded">
        <mat-card-header>
            <img mat-card-avatar 
                [src]="user!.avaUrl" 
                alt="User avatar"
                class="user-avatar"
            >
            <mat-card-title>{{user.login}}</mat-card-title>
            <mat-card-subtitle>{{user.fullname}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Role:</strong>       {{user.role }}</p>
            <mat-divider></mat-divider>
            <p><strong>Registered:</strong> {{user.registeredAt | date }}</p>
            <mat-divider></mat-divider>
            <p><strong>Disabled:</strong>   {{user.isDisabled}}</p>
            <ng-container *ngIf="user!.group">
                <mat-divider></mat-divider>
                <p><strong>Group:</strong>
                    <a [routerLink]="rt.to.group(user.group.id)">
                        {{user.group.name}}
                    </a>
                </p>
            </ng-container>
        </mat-card-content>
        <mat-card-actions *ngIf="userId === session.user?.id">
            <button mat-raised-button
                (click)="onLogout()"
                color="warn"
            >Log out</button>
        </mat-card-actions>
    </mat-card>
    <ng-template #elseUserNotLoaded>
        <mat-progress-spinner
            color="accent"
            mode="indeterminate"
            class="centered-block"
        ></mat-progress-spinner>
    </ng-template>
</div>