<div class="col-md-10 mx-auto">
    <vee-search-input 
        placeholder="Group name"
        (searchDemand)="doSearchRequest({ page: 1, search: $event })"
    ></vee-search-input>   
    <ng-container *ngIf="api; else elseNoApi">
            <mat-paginator #paginator
                [length]         ="api!.total"
                [pageSize]       ="pagination.limit"
                [pageIndex]      ="pagination.page - 1"
                [pageSizeOptions]="[5, 10, 20, 50, 100]"
                (page)="
                    pagination.page  = $event.pageIndex + 1;
                    pagination.limit = $event.pageSize;
                    doSearchRequest();
                "
                color="primary"
                showFirstLastButtons
            ></mat-paginator>
            <table mat-table *ngIf="api!.data.length; else elseNoGroupsFound"
                [dataSource]="api!.data" 
                class=       "mat-elevation-z8"
                id=          "groups-table"
            >
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let group">
                        <a [routerLink]="rt.to.group(group.id)">
                           {{group.name}}
                        </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="totalMembers">
                    <th mat-header-cell *matHeaderCellDef>Members</th>
                    <td mat-cell *matCellDef="let group">{{group.getMembers.total}}</td>
                </ng-container>
        
                <tr mat-header-row 
                    *matHeaderRowDef="['name', 'totalMembers']"
                ></tr>
                <tr mat-row 
                    *matRowDef="let row; columns: ['name', 'totalMembers'];"
                ></tr>
            </table>
            </ng-container>
            <ng-template #elseNoGroupsFound>
                <p
                    class="text-info"
                >No groups were found</p>
            </ng-template>
            <ng-template #elseNoApi>
                <h2 class="text-center text-info">Loading...</h2>
            </ng-template>
</div>
