<div class="col-md-10 mx-auto">
    <mat-tab-group dynamicHeight>
        <mat-tab label="Members">
        <div class="mt-4">
        <vee-pagination
            [pageFetcher]="usersPageFetcher"
            refetchOnChange="group"
            searchInputPlaceholder="Search group members"
            noInitFetch
        >
            <mat-list *veePaginated="let users">
                <mat-list-item *ngFor="let user of users; trackBy: trackById">
                    <a *appCheckAccess="rt.to.user"
                        [routerLink]="rt.to.user(user.id)"
                    >
                        <app-user-item [user]="user"></app-user-item>
                    </a>
                </mat-list-item>
            </mat-list>
        </vee-pagination>
        </div>
        </mat-tab>
        <mat-tab label="Courses">
        <div class="mt-4">
        <vee-pagination
            [pageFetcher]="coursesPageFetcher"
            refetchOnChange="group"
            searchInputPlaceholder="Search available courses"
            noInitFetch
        >
            <mat-list *veePaginated="let courses">
                <mat-list-item *ngFor="let course of courses; trackBy: trackById">
                    <a *appCheckAccess="rt.to.course"
                        [routerLink]="rt.to.course(course.id)"
                    >
                        <app-course-item [course]="course"></app-course-item>
                    </a>
                </mat-list-item>
            </mat-list>
        </vee-pagination>
        </div>
        </mat-tab>
</mat-tab-group>
</div>
